https://www.kaggle.com/paramaggarwal/fashion-product-images-small

In [1]:
import pandas as pd

In [2]:
!ls ../data

fashion-product-images-small.zip  images  myntradataset  styles.csv

In [14]:
DATASET_PATH="../data/myntradataset"

In [15]:
df = pd.read_csv(f"{DATASET_PATH}/styles.csv",  error_bad_lines=False)

b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

In [16]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [42]:
BUCKET_BASE="gs://np-training-vcm/kaggle_fashion_small"
BUCKET_PREFIX=f"{BUCKET_BASE}/images/"

In [43]:
labels_df = pd.DataFrame({
                         'image_path': BUCKET_PREFIX + df['id'].astype(str) + ".jpg"
                         , 'label':df['subCategory']
                         })

In [44]:
labels_df.head()

                                          image_path       label
0  gs://np-training-vcm/kaggle_fashion_small/imag...     Topwear
1  gs://np-training-vcm/kaggle_fashion_small/imag...  Bottomwear
2  gs://np-training-vcm/kaggle_fashion_small/imag...     Watches
3  gs://np-training-vcm/kaggle_fashion_small/imag...  Bottomwear
4  gs://np-training-vcm/kaggle_fashion_small/imag...     Topwear

In [45]:
labels_df.iloc[0].to_dict()

{'image_path': 'gs://np-training-vcm/kaggle_fashion_small/images/15970.jpg',
 'label': 'Topwear'}

In [49]:
f'{BUCKET_BASE}/auto_ml.csv'

'gs://np-training-vcm/kaggle_fashion_small/auto_ml.csv'

In [46]:
labels_df.to_csv( f'{BUCKET_BASE}/auto_ml.csv', index=False)

In [48]:
len(labels_df)

44424

In [37]:
!gsutil ls gs://np-training-temp/images/kaggle_fashion_small/15970.jpg

gs://np-training-temp/images/kaggle_fashion_small/15970.jpg

In [51]:
!gsutil ls gs://np-training-vcm/kaggle_fashion_small/images/23046.jpg

gs://np-training-vcm/kaggle_fashion_small/auto_ml.csv

In [ ]:
!gsutil -m cp -r gs://np-training-temp/images/kaggle_fashion_small/* gs://np-training-vcm/kaggle_fashion_small/images/